@{
    Layout = "_layout.cshtml";
}

<form method="POST" class="form-horizontal">
    
    <div class="control-group">
        <label class="control-label" for="Username">Username</label>
    
        <div class="controls">
            <input type="text" name="Username" />
            <span class="help-inline">e.g: "admin"</span>
        </div>
    </div>

   
    <div class="control-group">
        <label class="control-label" for="Password">Password</label>
    
        <div class="controls">
            <input type="password" name="Password" />
            <span class="help-inline">e.g: "qwe"</span>
        </div>
    </div>
   
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input name="RememberMe" type="checkbox" value="True" /> Remember me
            </label>
        </div>
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Login" />
        <a href="/users/register" class="btn">Register</a>
    </div>
</form>

@if (Model.Errored) {
    <div id="errorBox" class="floatingError">Invalid Username or Password</div>
}
